* {
  box-sizing: border-box;
}

body {
  font-family: "Tahoma", serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2px;
  text-align: center;
  background: #ababab;
  color: white;
}

header h1 {
  font-size: 30px;
}

nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


nav a.right {
  float: right;
}


row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}


aside {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

footer {
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

right {
  float: right;
}

Center {
  float: center;
}
img {
  border-radius: 8px;
}

table {
  font-family: "Tahoma", serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 9px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

nav a:hover {
  background-color: #dddddd;
  color: #000000;
}

.container {
  border-radius: 5px;
  background-color: #dddddd;
  padding: 17px;
}

input[type=submit] {
  cursor: pointer;
  padding: 10px 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 7px;
}

input[type=submit]:hover {
  background-color: #000000;
  color: #ffffff;
}
